.checkbox {
}
.body {
    display: flex;
    align-items: center;
    text-align: center;

}
.spanClassName {
    display: inline-block;
    color: white;
    padding-bottom: 10px;

}

.none {
    display: none;/* <--скрываем дефолтный чекбокс */
}
label .span {/* <-- стилизируем новый */
    height: 12px;
    width: 12px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color: #282c34;
    border-radius: 2px;
    padding: 3px;
    margin-right: 10px;
}
[type=checkbox]:checked + .span:before {/* <-- ставим иконку, когда чекбокс включен  */
    content: '\2714';
    position: absolute;
    top: -7px;
    left: 0;
    font-size:23px;
    color:blue;
}