.container {
    display: flex;
}





.nameInput {
    margin-top: 20px;
    border: 2px solid red;

}

.emailInput {
    margin-top: 5px;
    border: 2px solid red;

}

.button {
    margin-top: 20px;
    border: 2px solid red;
    border-radius: 4px;
}