.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doubleBtn{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.checked{
    margin-top: 30px;
}
.name{
    color: darkred;
}
.text{
    margin-top: 25px;
}
.title{
    padding-bottom: 6px;
}
.inputs{
    padding-bottom: 25px;
}