.container {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: left;
    text-align: center;
}


.learn {
    padding-top: 40px;
    text-align: center;
}

.question {
    padding-top: 40px;
}

.answer {
    padding-top: 15px;

}

.rate {
    padding-top: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.button {
    background-color: cornflowerblue;
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 15px;
    width: 100px;
}
.backArrow{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 120px;
    color: #0082cf;
}
