h1,h2,h3,h4,h5,h6,span,div {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: inherit;
  font-weight: inherit;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
a,
button {
  cursor: pointer;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  flex: 1 1 auto;
}